* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: white;
    color: #4e4544;
    font-family: Arial, Helvetica, sans-serif;
}

/* Page layout*/

.container {
    max-width: 900px;
    background-color: white;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "header header"
        "main sidebar"
        "footer footer";
    grid-gap: 60px;
}

/* Header */

Header {
    grid-area: header;
    color: red;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header nav{
    justify-self: 15px;
    list-style: none;
}

header nav li{
    margin-right: 15px;
    display: inline-block;
}

header button{
    justify-self: end;
    background-color: red;
    border: none;
    padding: 8px 25px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

/* Main */

.main {
    grid-area: main;
    text-align: center;
}

.main h2 {
    font-size: 32px;
    margin-bottom: 55px;
}

.main p {
    margin-bottom: 50px;
}

.main img {
    width: 100%;
}

/* Sidebar */

.sidebar {
    grid-area: sidebar;
    border: 1px solid gray;
    padding: 20px;
}

/* Footer */

footer {
    grid-area: footer;
    color: red;
    text-align: center;
    padding: 20px 0;
}

footer p{
    color: grey;
    font-size: 12px;
    padding: 10px;
}

@media (max-width: 600px){
    .container{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "sidebar"
            "footer";
    }    
}